@charset "utf-8";
/* CSS Document */
* { margin: 0px; padding: 0px; }
* html, * html body{background:url(about:blank);background-attachment:fixed;}
body { font-size: 12px; font-family: "微软雅黑", Arial, Helvetica, sans-serif; color: #505050; background:#FFF; }
ul li{ list-style: none; }
ol{ list-style: none; }
a { text-decoration: none; cursor: pointer; }
img { border: none; }
input { vertical-align: middle;  font-family: "微软雅黑", Arial, Helvetica, sans-serif;}
#zoomin{cursor:pointer;}
#zoomout{cursor:pointer;}
.fl_l { float: left; }
.fl_r { float: right; }
.al_r { text-align: right; }
.al_c { text-align: center; }
.db {display: block; }
.dn {display: none; }
.clear { clear: both; }
.ov{overflow:hidden;_zoom:1;}
.red{ color:#e60012;}
.bai{ color:#FFF;}
h1 { font-size: 13px; font-weight: bold; color: #b35935; padding-top: 5px; }
h2 { font-family: "微软雅黑"; font-size: 16px; color: #fff; font-weight: normal; line-height: 35px; font-weight: bold;}
h3 { color: #695151; font-size: 16px; font-weight: bold; }
.left_menu_main h4 { background: url(../images/menu_txt_1.png) no-repeat; width: 192px; height: 29px; position: relative;margin-bottom: 3px; _margin: 0px; }
.left_menu_main h5 { background: url(../images/menu_txt_2.png) no-repeat; width: 192px; height: 29px; position: relative; cursor: pointer; margin-bottom: 3px; _margin: 0px; }
h5 span,
h6 span,
.night_food span{font-weight:normal;line-height:29px;color:#FFF;margin:0 0 0 52px;font-size:12px;font-weight:normal;}
h6 { background: url(../images/menu_txt_3.png) no-repeat; width: 192px; height: 29px; position: relative; cursor: pointer; margin-bottom: 3px; _margin: 0px; }
.night_food { background: url(../images/menu_txt_4.png) no-repeat; width: 192px; height: 29px; position: relative; cursor: pointer; margin-bottom: 3px; _margin: 0px; }
.plus_btn { background: url(../images/plus.png) no-repeat; position: absolute; right: 5px; top: 7px; width: 14px; height: 14px; }
.minus_sign { background: url(../images/minus_sign.png) no-repeat; position: absolute; right: 5px; top: 12px; width: 14px; height: 14px; }
/*////top /////*/
#top { width: 1001px; height: 80px; overflow:hidden; margin: 0px auto; border-bottom: 2px #c6000a solid; }
.logo { float: left; width: 201px; height: 69px; background: url(../images/logo.png) no-repeat left bottom; cursor: pointer}
.top_menu { float: right; width: 798px;}
.top_menu_1 { margin: 7px 0px 0px 15px; float: left; width: 781px; display: inline; }
.top_menu_1 .span_1 { color: #575757; }
.top_menu_1 .span_1 i { font-size: 12px; text-decoration: underline; color: #9a9a9a; margin-left: 10px; cursor: pointer;}
.top_menu_1 .span_2 { color: #7d7d7d;}
.top_menu_1 .span_2 a { color: #7d7d7d; margin: 0px 10px; }
.top_menu_1 .span_2 a:hover { text-decoration: underline; }
.top_menu_1 .span_3 { background: #695151; border-radius: 3px; font-size: 12px; color: #fff; padding: 3px; margin-left: 10px; cursor: pointer; }
.top_menu_2 { float: left; margin-top: 20px; }
.top_menu_2 ul li { float: left; text-align: center; padding: 0px 15px; }
.top_menu_2 ul li a,.top_menu_2 ul li span{ display: block; position:relative;  vertical-align: bottom; font-family: "微软雅黑"; font-size: 14px; color: #c41230; font-weight: bold; height: 27px; line-height: 27px; width: 120px; text-align: center; cursor: pointer;}
.top_menu_2 ul li a:hover,.top_menu_2 ul li a.current,.top_menu_2 ul li span.current,.top_menu_2 ul li span.current a { background-color: #c6000a; color: #FFF; }
.top_menu_2 ul .last_li { padding: 0px 0px 0px 19px; background: url(../images/icon_5.png) no-repeat 29px 0px; }
.inputText{height:18px;line-height:18px;/*margin:5px 0px 8px 0px;*/ color: #737373;border: 1px solid #a39185;text-indent: 6px;}
.inputW0{width: 140px;}
.inputW1{width: 100px;}
.inputW2{width: 120px;}
.newpsline .radio_edit_text{vertical-align: bottom; padding-left: 10px;}
/*////////////content start////////////*/
#content { width: 1001px; margin: 5px auto 12px auto;position:relative; }

/*确认订单页面*/
.confirmation_order { width: 977px; margin: 10px 0; float:left; min-height:305px}
.confirmation_order_title { width: 977px; margin:-10px 0 0; padding: 2px 0 5px; position: relative}
.confirmation_order .order_detail_1 { }
/*确认订单页面-----餐单具体内容*/
.order_detail_table { width: 100%; margin-top: 5px; border-collapse: collapse; }
.order_detail_table, .order_detail_table td, .order_detail_table th { border-width:0;  border-bottom:1px #e8d4c7 solid; }
.order_detail_table .right_th { height: 30px; background: #c9c9c9 no-repeat right center; color: #363435; font-size: 12px; font-weight: bold; text-align: center; }
.order_detail_table th { height: 30px; background: #c9c9c9 url(../images/line.png) no-repeat right center; color: #363435; font-size: 12px; font-weight: bold; text-align: center; }
.order_detail_table td { word-break: break-all; height: 35px; text-align: center; vertical-align: middle; color: #505050; border-bottom: 1px #e2e2e2 solid; }
.order_detail_table td img { vertical-align: middle; }
.pro_number_input2 { background-color:#fff; width: 32px; height: 19px; line-height: 19px; text-align: center; vertical-align: middle; margin: 0px 3px; border: 1px solid #ccc; color: #505050; font-size: 12px; }
.order_detail_table td .oiCancel { color: #505050; text-decoration: underline; }
.open_btn { background: url(../images/down_icon.gif) no-repeat left; padding-left: 15px; cursor: pointer; }
.close_btn { background: url(../images/up_icon.gif) no-repeat left; padding-left: 15px; cursor: pointer; }
.product_detail { background: #f0f0f0; padding-left: 20px; line-height: 35px; color: #5c5253; text-align: left; margin: 0px; }
/*///////确认订单页面---优惠代码////////////*/
.coupon_code { margin: 16px  0px 45px 0px; position: relative; }
.coupon_code p { margin-top: 6px;overflow:hidden;_zoom:1; }
.coupon_code .code_1 { font-size: 14px; color: #e60012; font-weight: bold; text-decoration: none;height:25px; line-height:25px; float:left; margin:0px 0px 0px 0px;}
/* .que{display:blcok;width:18px;height:18px;position:absolute;top:7%;left:90px;*left:95px;_left:95px;cursor:pointer;} */
.que{display:block;width:18px;height:18px;background:url(../images/que.jpg) no-repeat;position:absolute;top:2px;left:90px;*top:-2px;*left:95px;cursor:pointer;}
/* .que{display:blcok;width:23px;*width:20px;_width:23px;height:18px;background:url(../images/que.jpg) no-repeat right;position:absolute;cursor:pointer; margin-top:1px;*margin-top:-2px;_margin-top:-1px;} */
.coupon_code .code_2 { font-size: 12px; color: #a3a2a2; text-decoration: underline; }
.price_span { color: #505050; font-size: 14px; position: absolute; left: 574px; top: 0px; }
.price_span_query { color: #000; font-size: 14px; }
.price_span em, .total_price_span em , .price_span_query em, .total_price_span_query em { font-style: normal; }
.total_price_span { color: #505050; font-size: 14px; position: absolute; left: 574px; top: 22px; }
.total_price_province_span { color: #de030c; font-size: 14px; position: absolute; left: 574px; top: 41px; }
.total_price_province_span em { font-style: normal; }
.total_price_span_query { color: #666; font-size: 14px; }
.total_price_span_query_donation{font-size:10px; margin-left: 5px;}
.coupon_code_table { width: 100%; margin-top: 10px; color: #953c00; }
.coupon_code_table, .coupon_code_table th, .coupon_code_table td { border: none; border-collapse: collapse; font-size: 12px; color: #953c00; }
.coupon_code_table th { background: #f0ecec; height: 30px; border-right: 1px #dfc8c2 solid; text-align: left; font-weight: normal; padding-left: 10px; }
.coupon_code_input { border: 1px solid #cccccc;color:#bebebe;font-size:12px;width:170px;height:23px;padding-left:5px; float:left;}
.coupon_code_submit { background-color:#e4393c; width: 80px; height: 25px; border: none; cursor: pointer; font-size:14px; color:#FFF; margin:0px 0px 0px 0px; float:left;}
.coupon_code_table td {/*  padding-left: 10px; */ height: 30px; vertical-align: middle; }
.coupon_code_table td a { color: #953c00; text-decoration: underline; vertical-align: middle; }
/*kong 添加优惠券解释*/
p.coupon_explain{width:317px;height:73px;overflow:hidden;background:url(../images/coup_exp.jpg) no-repeat;position:absolute;top:-16px;left:116px;font-size:12px;color:#9e3738;padding:17px 0px 0 31px;margin:0;display:none;}
.coupon_explain span{margin-right:31px;float:left;}
.coupon_close{display:block;width:15px;height:15px;background:url(../images/delete_icon.gif) no-repeat;position:absolute;cursor:pointer;top:10px;right:24px;}
.prom_prods{width:100%; float:left; margin:5px 0px; position:relative; text-align:center;}
.prom_prods .jleft{ width:12px; height:20px; background: url(../images/jl.png) no-repeat; position:absolute; top:110px; left:5px; cursor:pointer;}
.prom_prods .jright{ width:12px; height:20px; background: url(../images/jr.png) no-repeat; position:absolute; top:110px; right:5px; cursor:pointer;}

/*update wale width:139px */
.backbtn{background: url(img/diancan.png) no-repeat;width:170px;height:30px;border:none;margin: 15px 0 0 300px;cursor:pointer;}
.nextbtn{background: url(img/next_btn.png) no-repeat;width:168px;height:30px;border:0;cursor:pointer;margin: 15px 0 0 10px;}
.subBtn{background: url(img/tijao.png) no-repeat;width:170px;height:30px;border:none; margin: 15px 0 0 10px;cursor:pointer;cursor: pointer;}
