<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.mapper.CdMapper">
	<resultMap type="com.neusoft.vo.Cd" id="BaseResultMap">
		<id column="c_id" property="CId" jdbcType="VARCHAR" />
   		<result column="c_cdmc" property="CCdmc" jdbcType="VARCHAR" />
   		<result column="f_jg" property="FJg" jdbcType="FLOAT" />
   		<result column="c_cl" property="CCl" jdbcType="VARCHAR" />
   		<result column="c_photo" property="CPhoto" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getCdById" parameterType="String" resultMap="BaseResultMap">
		SELECT `c_id`, `c_cdmc`, `f_jg`, `c_cl`,c_photo FROM t_cd
		<where>
			<if test="cid != null and cid.length()>0">
				and c_id = #{cid}
			</if>
		</where>
	</select>
	<select id="findMoByCdmc" resultMap="BaseResultMap">
		SELECT `c_id`, `c_cdmc`, `f_jg`, `c_cl`,c_photo FROM t_cd where c_cdmc like concat('%','${cdmc}','%')
	</select>
	
	<select id="getAllCd" resultMap="BaseResultMap">
		SELECT `c_id`, `c_cdmc`, `f_jg`, `c_cl`,c_photo FROM t_cd
		
		<if test="map!=null and map.size()>0 and map.start != null and map.size != null">
			limit #{map.start},#{map.size}
		</if>
	</select>
	
	<insert id="addCd" parameterType="map">
		INSERT INTO `jddc`.`t_cd`(`c_id`, `c_cdmc`, `f_jg`, `c_cl`,c_photo) 
		VALUES (REPLACE(uuid(),'-',''), #{map.cdmc}, #{map.jg,jdbcType=FLOAT}, #{map.cl},#{map.photo})
	</insert>
	<delete id="deleteCd" parameterType="String" >
		delete from t_cd
		<where>
			<if test="cid != null and cid.length()>0">
				and c_id = #{cid}
			</if>
		</where>
	</delete>
	<update id="editCd" parameterType="map">
		UPDATE `jddc`.`t_cd` SET `c_cdmc` =  #{map.cdmc}, `f_jg` =  #{map.jg,jdbcType=FLOAT}, `c_cl` =#{map.cl} ,c_photo = #{map.photo}
		WHERE `c_id` =  #{map.cid}
	</update>
	<select id="queryCount" resultType="int">
		SELECT count(1) FROM t_cd 
		<where>
			<if test="map.cid != null and map.cid.length()>0">
				and c_id = #{map.cid}
			</if>
		</where>
	</select>
	<select id="countCdByCl" resultType="int">
		SELECT count(1) FROM t_cd 
		<where>
			<if test="clid != null and clid.length()>0">
				and c_cl = #{clid}
			</if>
		</where>
	</select>
	
	
	<select id="selectDdzt" resultType="String" parameterType="String">
		SELECT c_mc FROM t_dzdm WHERE n_bh = 10004 and n_bh_lx = #{ddzt}
	</select>
	
	
	<select id="selectCdByCl" resultMap="BaseResultMap" parameterType="String">
		SELECT
		t_cd.c_id,
		t_cd.c_cdmc,
		t_cd.f_jg,
		t_cd.c_cl,
		t_cd.c_photo
		FROM
		t_cd ,
		t_cl
		WHERE
		t_cd.c_cl = t_cl.c_id
		and t_cl.c_id=#{clid}
	</select>
</mapper>