<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.mapper.ClMapper">
	<resultMap type="com.neusoft.vo.Cl" id="BaseResultMap">
		<id column="c_id" property="CId" jdbcType="VARCHAR" />
   		<result column="c_cl" property="CCl" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getClById" parameterType="String" resultMap="BaseResultMap">
		select `c_id`, `c_cl` from t_cl 
		<where>
			<if test="cid != null and cid.length()>0">
				and c_id = #{cid}
			</if>
		</where>
	</select>
	
	<select id="getAllCl" resultMap="BaseResultMap">
		select `c_id`, `c_cl` from t_cl 
		<if test="map!=null and map.size()>0 and map.start != null and map.size != null">
			limit #{map.start},#{map.size}
		</if>
	</select>
	
	<insert id="addCl" parameterType="map">
		INSERT INTO `jddc`.`t_cl`(`c_id`, `c_cl`) VALUES (REPLACE(uuid(),'-',''), #{map.cl})
	</insert>
	<delete id="deleteCl" parameterType="String" >
		delete from t_cl 
		<where>
			<if test="cid != null and cid.length()>0">
				and c_id = #{cid}
			</if>
		</where>
	</delete>
	<update id="editCl" parameterType="map">
		UPDATE `jddc`.`t_cl` SET `c_cl` = #{map.cl} WHERE `c_id` = #{map.cid}
	</update>
	<select id="queryCount" resultType="int">
		SELECT count(1) FROM t_cl
		<where>
			<if test="map.cid != null and map.cid.length()>0">
				and c_id = #{map.cid}
			</if>
		</where>
	</select>
</mapper>