<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.mapper.CzMapper">
	<resultMap type="com.neusoft.vo.Cz" id="BaseResultMap">
		<id column="c_id" property="CId" jdbcType="VARCHAR" />
   		<result column="c_czmc" property="CCzmc" jdbcType="VARCHAR" />
   		<result column="c_czzt" property="CCzzt" jdbcType="VARCHAR" />
   		<result column="n_czrs" property="NCzrs" jdbcType="INTEGER" />
	</resultMap>
	<select id="getCzById" parameterType="String" resultMap="BaseResultMap">
		select `c_id`, `c_czmc`, `c_czzt`, `n_czrs` from t_cz 
		<where>
			<if test="cid != null and cid.length()>0">
				and c_id = #{cid}
			</if>
		</where>
	</select>
	
	<select id="getAllCz" parameterType="map" resultMap="BaseResultMap">
		select `c_id`, `c_czmc`, `c_czzt`, `n_czrs` from t_cz 
		limit #{map.start},#{map.size}
		
	</select>
	
	<insert id="addCz" parameterType="map">
		INSERT INTO `jddc`.`t_cz` ( `c_id`, `c_czmc`, `c_czzt`, `n_czrs` )
		VALUES
		( REPLACE(uuid(),'-',''), #{map.czmc}, #{map.czzt}, #{map.czrs} )
	</insert>
	<delete id="deleteCz" parameterType="String" >
		delete from t_cz 
		<where>
			<if test="cid != null and cid.length()>0">
				and c_id = #{cid,jdbcType=VARCHAR}
			</if>
		</where>
	</delete>
	<update id="editCz" parameterType="map">
		UPDATE `jddc`.`t_cz` 
		SET `c_czmc` = #{map.czmc},
		`c_czzt` = #{map.czzt},
		`n_czrs` = #{map.czrs,jdbcType=INTEGER}
		WHERE
			`c_id` = #{map.cid};
	</update>
	<select id="queryCount" resultType="int">
		SELECT count(1) FROM t_cz 
		<where>
			<if test="map.cid != null and map.cid != '' ">
				and c_id = #{map.cid}
			</if>
		</where>
	</select>
</mapper>