<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.mapper.OrderMapper">
	<resultMap type="com.neusoft.vo.Order" id="BaseResultMap">
		<id column="c_id" property="CId" jdbcType="VARCHAR" />
   		<result column="c_czmc" property="CCzmc" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getOrderById" parameterType="String" resultMap="BaseResultMap">
		select `c_id`, `c_user`, `c_czmc`, `c_dcxx`, `c_dcsl`, `n_zs`, `f_zj`, `c_ddzt`, `d_cjsj` from t_order
		<where>
			<if test="cid != null and cid.length()>0">
				and c_id = #{cid}
			</if>
		</where>
	</select>
	
	<select id="getAllOrder" resultMap="BaseResultMap">
		select `c_id`, `c_user`, `c_czmc`, `c_dcxx`, `c_dcsl`, `n_zs`, `f_zj`, `c_ddzt`, `d_cjsj` from t_order
	</select>
	
	<insert id="addOrder" parameterType="map">
		INSERT INTO `jddc`.`t_order`(`c_id`, `c_user`, `c_czmc`, `c_dcxx`, `c_dcsl`, `n_zs`, `f_zj`, `c_ddzt`, `d_cjsj`) 
		VALUES (REPLACE(uuid(),'-',''), #{map.cid}, (select c_id from t_cz where c_czmc = #{map.czmc}), #{map.dcxx}, #{map.dcsl}, #{map.zs,jdbcType=INTEGER}, #{map.zj,jdbcType=FLOAT}, (SELECT `n_bh_lx` FROM	t_dzdm WHERE n_bh = 10003	and c_mc = #{map.ddzt}), now())		
	</insert>
	<delete id="deleteOrder" parameterType="String" >
		delete from t_order 
		<where>
			<if test="cid != null and cid.length()>0">
				and c_id = #{cid}
			</if>
		</where>
	</delete>
	<update id="editOrder" parameterType="map">
		UPDATE `jddc`.`t_order` SET `c_user` = #{map.cid}, `c_czmc` = (select c_id from t_cz where c_czmc = #{map.czmc}), `c_dcxx` =  #{map.dcxx}, `c_dcsl` = #{map.dcsl}, `n_zs` =  #{map.zs,jdbcType=INTEGER}, `f_zj` =  #{map.zj,jdbcType=FLOAT}, `c_ddzt` = (SELECT `n_bh_lx` FROM	t_dzdm WHERE n_bh = 10003	and c_mc = #{map.ddzt}), `d_cjsj` =  now() WHERE `c_id` = #{map.cid}
	</update>
</mapper>