<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.mapper.UserMapper">
	<resultMap type="com.neusoft.vo.User" id="BaseResultMap">
		<id column="c_id" property="CId" jdbcType="VARCHAR" />
   		<result column="c_loginid" property="CLoginId" jdbcType="VARCHAR" />
   		<result column="c_name" property="CName" jdbcType="VARCHAR" />
   		<result column="c_password" property="CPassword" jdbcType="VARCHAR" />
   		<result column="n_lx" property="NLx" jdbcType="INTEGER" />
	</resultMap>
	
	<select id="getLogin" parameterType="String" resultMap="BaseResultMap">
    	select c_id,c_loginid,c_name,c_password,n_lx from t_user where c_loginid=#{loginid} and c_password = #{loginPwd} 
    	limit 1
    </select>
    <select id="getUserList" parameterType="map" resultMap="BaseResultMap">
		 select c.* from 
	   (select * from t_user
		where 
	  	 1=1 
		  <if test="userName !=null and userName != ''">
			 and userName=#{userName}
		  </if>
		    <if test="userAgender !=null and userAgender != ''">
			 and userAgender=#{userAgender}
		  </if>
		  ) c
	   limit  #{start},#{pagesize}
	</select>
	<insert id="addUser" parameterType="map">
		insert into t_user(c_id,c_loginid,c_name,c_password,n_lx)
		values( REPLACE(uuid(),'-',''),#{c_loginid},#{c_name},#{c_password},#{n_lx})
	</insert>
	<delete id="deleteUser" parameterType="String">
		delete from t_user where c_id=#{c_id}
	</delete>
	<select id="detailUser" parameterType="String" resultMap="BaseResultMap">
		select * from t_user where c_id=#{c_id}
	</select>
	<update id="editUser" parameterType="map">
		update t_user set c_loginid=#{c_loginid},c_name=#{c_name},c_password=#{c_password},n_lx=#{n_lx} where c_id=#{c_id}
	</update>
	
	
	
	
    <select id="getCheckAccount"  parameterType="String" resultType="int">
    	select count(1) from t_user where userName=#{userNo}
    </select>
	<select id="queryCount" parameterType="map" resultType="int">
		select count(1) from t_user where 1=1
		  <if test="userName !=null and userName != ''">
			 and userName=#{userName}
		  </if>
		    <if test="userAgender !=null and userAgender != ''">
			 and userAgender=#{userAgender}
		  </if>
	</select>
	<select id="queryRecordCount" parameterType="map" resultType="int">
	  select count(1) from t_user_record where 1=1 
	   <if test="userNo !=null and userNo != ''">
			 and userNo=#{userNo}
		  </if>
	</select>
	<select id="getDzdmMc" parameterType="String" resultType="String">
		SELECT c_mc FROM t_dzdm WHERE n_bh = #{dzdmlx} and n_bh_lx = #{dzdmxh}
	</select>
	<select id="getDzdmMcList" parameterType="hashmap" resultType="String">
		SELECT n_bh_lx as value,c_mc as text FROM t_dzdm WHERE n_bh = #{dzdmlx} 
	</select>
</mapper>